// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Roboto:100,700,400);

html, body {
	font-family: 'Roboto';
	margin: 0;
	padding: 0;
}